CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
SMTP_ADDRESS=smtp-relay.brevo.com
SMTP_PORT=587
SMTP_DOMAIN=kois-story.com
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_ENABLE_STARTTLS_AUTO=true
TURNSTILE_SITE_KEY=
TURNSTILE_SECRET_KEY=
ADMIN_EMAIL=
CONTACT_EMAIL=contact@kois-story.com
WHATSAPP_PHONE=
APP_HOST=
PUBLIC_SITE_URL=
MAILER_FROM=Kois Story <contact@kois-story.com>
DATABASE_URL=
OTP_SECRET_KEY=
ADMIN_PASSWORD=
FORCE_SSL=false
ASSUME_SSL=false
