RAILS_ENV=development
DATABASE_URL=sqlite3:db/development.sqlite3

DEVISE_SECRET_KEY=
SECRET_KEY_BASE=

CLOUDINARY_URL=

WHATSAPP_PHONE=

SMTP_ADDRESS=
SMTP_PORT=
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_DOMAIN=
