CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
RESEND_API_KEY=
TURNSTILE_SITE_KEY=
TURNSTILE_SECRET_KEY=
ADMIN_EMAIL=
WHATSAPP_PHONE=
APP_HOST=
PUBLIC_SITE_URL=
MAILER_FROM=
DATABASE_URL=
OTP_SECRET_KEY=
ADMIN_PASSWORD=
FORCE_SSL=false
ASSUME_SSL=false
