:root {
  --color-red: #e60000;
  --rouge-vif: #e60000;
  --c-red: #e60000;
  --color-wine: #630f0f;
  --rouge-sombre: #630f0f;
  --c-wine: #630f0f;
  --color-black: #000000;
  --noir: #000000;
  --c-black: #000000;
  --color-cream: #f5f5f2;
  --blanc-casse: #f5f5f2;
  --c-cream: #f5f5f2;
  --color-white: #ffffff;
  --blanc-pur: #ffffff;
  --c-white: #ffffff;
  --color-whatsapp: #25d366;
}
