:root {
	--color-bronze: #a58241;
	--bronze: #a58241;
	--c-bronze: #a58241;
	--color-konishi-gold: #eab21b;
	--or-konishi: #eab21b;
	--c-gold: #eab21b;
	--color-deep-navy: #011325;
	--bleu-nuit: #011325;
	--c-navy: #011325;
	--color-red: #a58241;
	--rouge-vif: #a58241;
	--c-red: #a58241;
	--color-wine: #011325;
	--rouge-sombre: #011325;
	--c-wine: #011325;
	--color-black: #000000;
	--noir: #000000;
	--c-black: #000000;
	--color-cream: #ffffff;
	--blanc-casse: #ffffff;
	--c-cream: #ffffff;
	--color-white: #ffffff;
	--blanc-pur: #ffffff;
	--c-white: #ffffff;
	--color-whatsapp: #25d366;
}
