<div class="wave-separator">
  <div class="wave wave--red" aria-hidden="true"></div>
  <%= image_tag docs_asset_path("yin_yang_koi_fish_vector_illustration.svg"), class: "fish-icon", alt: "" %>
  <div class="wave wave--black" aria-hidden="true"></div>
</div>
