<section class="story">
  <div class="story__inner">
    <div class="story-block">
      <div class="story-block__img" data-animate="fade-left">
        <%= image_tag docs_asset_path("carpe-koi-showa-scaled-hero.jpg"), alt: "Bassin principal" %>
      </div>
      <div class="story-block__text" data-animate="fade-right">
        <p class="story-block__label">Notre histoire</p>
        <h2 class="story-block__title">Une passion qui a tout changé</h2>
        <p class="story-block__body">Tout a commencé avec Manu, véritable passionné de koï. Puis, peu à peu, Mathilde s'est laissée emporter par cette belle aventure. Ce qui n'était au départ qu'un loisir est devenu, au fil du temps, un véritable projet de vie.</p>
        <p class="story-block__body">Nous continuons nos métiers respectifs, et nous nous lançons aujourd'hui dans cette belle aventure ensemble : vous proposer des carpes koï de qualité, du matériel, de la nourriture.</p>
      </div>
    </div>

    <div class="story-block story-block--reverse">
      <div class="story-block__img" data-animate="fade-right">
        <%= image_tag docs_asset_path("butterfly-tancho-kujaku.jpg"), alt: "Butterfly Tancho" %>
      </div>
      <div class="story-block__text" data-animate="fade-left">
        <p class="story-block__label">Nos bassins</p>
        <h2 class="story-block__title">Trois bassins construits avec expérience</h2>
        <p class="story-block__body">Comme beaucoup, nous avons débuté avec un premier bassin chez nous… puis un deuxième, que nous avons entièrement refait après avoir appris, compris et perfectionné notre approche.</p>
        <p class="story-block__body">Et un troisième, plus petit bassin, a vu le jour : notre bac de quarantaine, dédié aux poissons en observation après leur arrivée chez nous, une étape essentielle pour garantir leur santé et celle de nos pensionnaires.</p>
      </div>
    </div>

    <div class="story-block">
      <div class="story-block__img" data-animate="fade-left">
        <%= image_tag docs_asset_path("24148-Sakura-Grand-Voile-Suda-600x800.jpg"), alt: "Sakura" %>
      </div>
      <div class="story-block__text" data-animate="fade-right">
        <p class="story-block__label">Notre engagement</p>
        <h2 class="story-block__title">Vous accompagner avec authenticité et savoir-faire</h2>
        <p class="story-block__body">Après avoir obtenu notre diplôme et acquis de l'expérience, nous avons décidé de partager cette passion avec vous à travers Koi's Story.</p>
        <p class="story-block__body">Que vous soyez débutant ou passionné confirmé, notre objectif est simple : vous accompagner avec authenticité, passion et savoir-faire. Merci d'être là et bienvenue dans notre univers.</p>
      </div>
    </div>
  </div>
</section>
